<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Vivas Castro Carlos - Garcia Medina Elian - Vélez Celorio Yulan</span>
            <div>Desarrollo Web App, Práctica 2</div>
        </div>
    </div>
</footer>
<!-- End of Footer -->